<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/dist/style.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/poke-sprites.css">
  </head>
  <body>
    <section>
      <div id="root"></div>
    </section>
    <script src="/dist/vendor.bundle.js"></script>
    <script src="/dist/pokemon.min.js"></script>
  </body>
</html>
